DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-me-in-real-env
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=fincrime
POSTGRES_USER=fincrime
POSTGRES_PASSWORD=fincrime_dev_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=prefer

REDIS_URL=redis://redis:6379/0

DJANGO_SECURE_SSL_REDIRECT=0
DB_CONN_MAX_AGE=60
